{{template config_path="design/email/header_template"}}
<table style="text-align: center;background-color: #fff;  width: 100%; max-width: 650px;" align="center">

    <tr>
        <td><h4 style="color: #606c77; margin-top: 45px; font-family: Verdana,Geneva,sans-serif; font-size: 18px; margin-bottom: 25px; font-weight: normal;">Hi {{trans "%name" name=$customer.name}},</h4></td>

    <tr>
        <td><p style="font-size: 12px;padding: 0 15px;color: #606c77;font-family: Verdana,Geneva,sans-serif;     width: 90%; margin: 0 auto 15px;">Forgot your password? No worries! We've made it easy for you to access your sweda account again. You can reset your password immediately by clicking the button below.</p></td>
    </tr>

    </tr>
        <tr>
        <td style="padding: 25px 0"><a href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[token:$customer.rp_token],_nosid:1])}}" target="_blank" style="color: #fff;background-color: #3ac0c4; padding: 9px 44px;
        font-size: 22px;text-decoration: none;text-transform: uppercase; font-family: Verdana,Geneva,sans-serif;">Reset Password</td>
    </tr>

    <tr>
        <td>
          <p style="font-size: 12px; width: 65%; margin: 0 auto; color: #606c77; font-family: Verdana,Geneva,sans-serif; padding: 18px 0 30px;">if you run into any other problem, give us a shout at <a href="mailto:info@swedausa.com">info@swedausa.com</a></p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}