{{template config_path="design/email/header_template"}}
<table style="max-width: 650px; width: 100%; text-align: center; background-color: #fff" align=center>
    <tbody>
        <tr>
            <td align="center">
                <br><br>
                <strong style="font-size: 28px; font-family: verdana,geneva,sans-serif; text-transform: uppercase; padding-bottom: 5px; padding-top: 29px; padding-left: 0px; margin: 0px; padding-right: 0px;display: block;text-align: center;width: 100%;vertical-align: middle;">ACCOUNT REQUEST RECIEVED</strong>
                <br><br>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" style="font-size: 12px; font-family: verdana,geneva,sans-serif; width: 91%; color: #606c77; padding-bottom: 0px; padding-top: 0px; padding-left: 15px; margin: 0px; line-height: 22px; padding-right: 15px;text-align: center;">
                    <tr>
                        <td>Thank you for requesting an account at swedausa.com! Our accounting department is reviewing your application.We will send another email as soon as you have been approved!<br><br></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" style="margin-bottom: 0px; font-size: 12px; font-family: verdana,geneva,sans-serif; color: #606c77; padding-bottom: 0px; padding-top: 0px; padding-left: 15px; padding-right: 15px;text-align: center;width: 91%;">
                    <tr>
                        <td>As a registered Sweda customer,you will have unlimited access to the following helpful features on our website:
                            <br><br></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="font-size: 12px; font-family: verdana,geneva,sans-serif; font-weight: bold; color: #606c77;text-align: center;" align="center">
                        <tr>
                            <td style="padding-bottom: 10px;">Create, edit, save and share multiple Smart Carts</td>
                        </tr>
                        <tr><td style="padding-bottom: 10px;">Acess inventory data</td></tr>
                        <tr><td style="padding-bottom: 10px;">View your order & invoice history</td></tr>
                        <tr><td style="padding-bottom: 10px;">Track your orders</td></tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table align="center" style="font-size: 12px; font-family: verdana,geneva,sans-serif; width: 65%; color: #606c77; padding-bottom: 18px; padding-top: 18px; padding-left: 0px; margin: 0px auto; padding-right: 0px">
                        <tr>
                            <td>
                                We look forward to welcoming you as a valued customer! in the meantime, feel free to browse around on <a href='{{store url=""}}'>swedausa.com</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 55px; padding-top: 24px; padding-left: 0px; padding-right: 0px" align="center">
                    <table width="275" align="center" bgcolor="#3ac0c4" style="height: 50px;">
                        <tr>
                            <td align="center">
                                <a style="font-size: 22px; font-family: verdana,geneva,sans-serif; text-transform: uppercase; color: #fff;width: 271px; background-color: #3ac0c4;display:block;text-decoration: none !important;padding-top: 10px;padding-bottom: 10px;" href='{{store url=""}}'>visit swedausa</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    {{template config_path="design/email/footer_template"}} 