<!--@subject {{trans "Hang Tight %store_name" store_name=$store.getFrontendName()}}@-->
{{template config_path="design/email/header_template"}}
<table style="text-align: center;background-color: #fff;  width: 100%; max-width: 650px;" align="center">

    <tr>
        <td><h3 style="margin: 0; font-family: Verdana,Geneva,sans-serif; font-size: 28px; margin-bottom: 10px; text-transform: uppercase; padding: 29px 0 0px;">Hang tight</h3></td>
    </tr>
    <tr>
        <td><h4 style="color: #606c77; font-family: Verdana,Geneva,sans-serif; font-size: 16px; margin-bottom: 25px; font-weight: normal;">Your account application is being reviewed.</h4></td>
    </tr>
    <tr>
        <td><p style="width:91%; margin:0 auto 20px; font-size: 12px;padding: 0 15px; line-height: 22px;color: #606c77; font-family: Verdana,Geneva,sans-serif;">Don't worry, we haven't forgotten about! Our accountion department is reviewing your application. We will send another email as soon as you have been approved!</p></td>
    </tr>

    <tr>
        <td><p style="margin-bottom: 15px; font-size: 12px;padding: 0 15px;color: #606c77;font-family: Verdana,Geneva,sans-serif;">As a registered Sweda customer,you will have unlimited access to the following helpful features on our website:</p></td>
    </tr>
    <tr>
        <td>
            <ul style="padding: 0;">
               <li style="color: #606c77;font-size: 12px;font-family: Verdana,Geneva,sans-serif; list-style-type: none;"> Create,edit,save and share multiple Smart Carts</li>
                <li style="color: #606c77;font-size: 12px;font-family: Verdana,Geneva,sans-serif; list-style-type: none;"> Acess inventory data</li>
                <li style="color: #606c77;font-size: 12px;font-family: Verdana,Geneva,sans-serif; list-style-type: none;"> View your order& invoice history</li>
                <li style="color: #606c77;font-size: 12px;font-family: Verdana,Geneva,sans-serif; list-style-type: none;"> Track Your orders</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
          <p style="font-size: 12px; width: 65%; margin: 0 auto; color: #606c77; font-family: Verdana,Geneva,sans-serif; padding: 18px 0;">We look forward to welcoming you as a valued customer! in the meantime, feel free to browse around on <a href="#">swedausa.com!</a></p>
        </td>
    </tr>
    <tr>
        <td style="padding: 24px 0 55px;"><a href="#" style="color: #fff;background-color: #3ac0c4; padding: 9px 44px;
        font-size: 22px;text-decoration: none;text-transform: uppercase; font-family: Verdana,Geneva,sans-serif;">visit swedausa</td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}

