<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="productdesigner" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>biztech</tab>
            <group id="customcolorpicker"  showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="150">
                <field id="customcolorpickerenable" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Enable Custom Color Picker</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select "Yes" to enable custom color picker component.</comment>
                </field>               
            </group>
        </section>        
    </system>
</config>
