<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
	<event name="design_save_after">
		<observer name="designsaved" instance="Biztech\NameNumber\Observer\designSavedAfter"/>
	</event>
	<event name="tabsData">
		<observer name="tabsData" instance="Biztech\NameNumber\Observer\getTabsData"/>
	</event>	
	<event name="subTabsData">
		<observer name="subTabsData" instance="Biztech\NameNumber\Observer\getSubTabsData"/>
	</event>
</config>