<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="addFilterClipart">
        <observer name="add_filter_clipart" instance="Biztech\BackgroundPatterns\Observer\AddFilterClipart" />
    </event>
</config>