<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="generate_images">
        <observer name="watermark_images" instance="Biztech\Watermark\Observer\WatermarkImages" />
    </event>
</config>