<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="Stalwart_EditAdmin::save_custom_product_data" instance="Stalwart\EditAdmin\Observer\BeforeProductSave"/>
    </event>
</config>