<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="swedasetting" translate="label" sortOrder="10">
            <label>Sweda</label>
        </tab>
        <section id="socialmedia" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Social Media</label>
            <tab>swedasetting</tab>
            <resource>Stalwart_Sweda::swedasetting_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Social Media Configuration</label>
                <field id="instagram" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Instagram Link</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="facebook" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Facebook Link</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="twitter" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Twitter Link</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="google" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Google+ Link</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="linkedin" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Linkedin Link</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
            </group>
        </section>

        <section id="promomess" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Promo Message</label>
            <tab>swedasetting</tab>
            <resource>Stalwart_Sweda::swedasetting_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Promo Message</label>
                <field id="promomessage" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Promo Message</label>
                    <comment>This text will display on the frontend Header Top.</comment>
                </field>
                <field id="promolink" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Promo Link</label>
                </field>
            </group>
        </section>

        <section id="copyright" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Copy Right</label>
            <tab>swedasetting</tab>
            <resource>Stalwart_Sweda::swedasetting_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Copy Right</label>
                <field id="copyright" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Copy Right</label>
                </field>
            </group>
        </section>

        <section id="newsletter_form_url" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Mailchimp Newsletter Form</label>
            <tab>swedasetting</tab>
            <resource>Stalwart_Sweda::swedasetting_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Mailchimp Newsletter Form</label>
                <field id="newsletterFormUrl" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mailchimp Newsletter Action URL</label>
                </field>
            </group>
        </section>
        
        <section id="product_price" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Price Title And Tag</label>
            <tab>swedasetting</tab>
            <resource>Stalwart_Sweda::swedasetting_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Price Title And Tag</label>
                <field id="price_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Price Starting Title</label>
                    <comment>This text will display on the frontend price title.'Default Set = as low as'</comment>
                </field>
                <field id="price_currency_tag" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Price Currency Tag</label>
                    <comment>This text will display on the frontend.'Default Set = ea'</comment>
                </field>
            </group>
        </section>

        <section id="ftpsetting" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>FTP Setting</label>
            <tab>swedasetting</tab>
            <resource>Stalwart_Sweda::swedasetting_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>FTP Configuration</label>

                <field id="serveraddress" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Server Address</label>
                </field>
                <field id="username" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Name</label>
                </field>
                <field id="password" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Password</label>
                </field>
                <field id="forderpath" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Forder Path</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
            </group>
        </section>

        <section id="shipping_estimator" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>SHIPPING ESTIMATOR</label>
            <tab>swedasetting</tab>
            <resource>Stalwart_Sweda::swedasetting_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Shipping Estimator Configuration</label>

                <field id="user_credential_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Credential Key</label>
                </field>

                <field id="user_credential_password" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Credential Password</label>
                </field>

                <field id="user_account_number" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Account Number</label>
                </field>

                <field id="user_meter_number" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Meter Number</label>
                </field>
            </group>
        </section>
        <section id="helpcenter" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Help Center</label>
            <tab>swedasetting</tab>
            <resource>Stalwart_Sweda::swedasetting_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Help Center Configuration</label>
                <field id="helpcentersearchtitle" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Help Center Search Title</label>
                </field>
            </group>
        </section>

        <section id="megamenublok" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Mega Menu Block </label>
            <!-- Assign section to tab -->
            <tab>swedasetting</tab>
            <resource>Stalwart_Sweda::swedasetting_config</resource>
            <!-- create group for fields in section -->
            <group id="menusection" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Block One</label>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Url</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="background_images" translate="label comment" type="image" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Images</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">mageplaza/vlibrary/logo</upload_dir>
                    <base_url type="media" scope_info="1">mageplaza/vlibrary/logo</base_url>
                    <comment><![CDATA[Choose your website or organize logo. (jpeg, gif, png)]]></comment>
                </field>
            </group>

            <group id="menusectiontwo" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Block Two</label>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Url</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="background_images" translate="label comment" type="image" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Images</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">mageplaza/vlibrary/logo</upload_dir>
                    <base_url type="media" scope_info="1">mageplaza/vlibrary/logo</base_url>
                    <comment><![CDATA[Choose your website or organize logo. (jpeg, gif, png)]]></comment>
                </field>
            </group>
        </section>

        <section id="hangtightmail" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Hang Tight Scheduler</label>
            <!-- Assign section to tab -->
            <tab>swedasetting</tab>
            <resource>Stalwart_Sweda::swedasetting_config</resource>
            <!-- create group for fields in section -->
            <group id="hangtightschedule" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Hang Tight Mail Sending Scheduler Configuration</label>
                <field id="run_every_minut" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Run Every Minut</label>
                    <comment>Please Enter Minute (0 - 59)</comment>
                </field>
                <field id="run_every_hour" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Run Every Hour</label>
                    <comment>Please Enter Hour (0 - 23)</comment>
                </field>
                <field id="run_every_day_of_month" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Run Every Day of month</label>
                    <comment>Please Enter Day of month (1 - 31)</comment>
                </field>
                <field id="run_every_month" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Run Every Month</label>
                    <comment>Please Enter Month (1 - 12)</comment>
                </field>
                <field id="run_every_day_of_week" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Run Every Day of week</label>
                    <comment>Please Enter Day of week (0 - 7) (Sunday=0 or 7)</comment>
                </field>
            </group>
        </section>
        <section id="youtubesetting" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Youtube Channel Setting</label>
            <tab>swedasetting</tab>
            <resource>Stalwart_Sweda::swedasetting_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Youtube Channel Configuration</label>
                <field id="apikey" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Api Key</label>
                </field>
                <field id="channelid" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Channel Id</label>
                </field>
            </group>
        </section>
        <section id="pricetable" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Price Table Setting</label>
            <tab>swedasetting</tab>
            <resource>Stalwart_Sweda::swedasetting_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="pricetitle" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Price Title</label>
                </field>
                <field id="viewallproduct" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>View All Product Title</label>
                </field>
            </group>
        </section>
        <section id="instagramsetting" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Instagram Setting</label>
            <tab>swedasetting</tab>
            <resource>Stalwart_Sweda::swedasetting_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Instagram Configuration</label>
                <field id="userid" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Id</label>
                </field>
                <field id="accesstoken" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Access Token</label>
                </field>
            </group>
        </section>
    </system>
</config>
