<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="artworkupload" translate="label" sortOrder="100">
            <label>Artwork Upload</label>
        </tab>
        <section id="artworksend" showInDefault="1" showInStore="1" showInWebsite="1" translate="label" type="text">
            <label>Artwork Upload</label>
            <tab>artworkupload</tab>
            <resource>Stalwart_HelpCenter::company</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" type="text">
                <label>Artwork Upload Settings</label>   
               <field id="customer_email_sender" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label" type="select">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="sender_name" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sender Name</label>
                </field>
                <field id="sender_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sender Email</label>
                </field>  
            </group>
        </section>
    </system>
</config>