<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="productdesigner" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="general"  showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20">
                <field id="enable_image_thumbnails" translate="label comment" type="select" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Enable Image Thumbnails</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select "Yes" to allow image thumbnails on Product Designer Tool.</comment>
                </field>   
            </group>
        </section>        
    </system>
</config>
